<cfoutput>
	<div class="container">
	<div class="row">
		<div class="col-4">
			&copy; #year(now())# eleven rabbits
		</div>
		<div class="col-8">
			<div class="row">
				<div class="col-6">
					About
				</div>
				<div class="col-6">
					Contact Us
				</div>
			</div>
		</div>
	</div>

	</div>
</cfoutput>

