<cfoutput>
		<div id="hero image">

		</div>
		<div class="row">
			<div class="col-lg-6">
				<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" role="img" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="##777"/><text x="50%" y="50%" fill="##777" dy=".3em">140x140</text></svg>
				<h2>About</h2>
				<p>This site exists to help people find trends in their groups, and within their areas.  Data added here is used to allows people to track their connections, and to see larger trends within their regions.</p>
				<p><a class="btn btn-secondary" href="##" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-6 -->
			<div class="col-lg-6">
				<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" role="img" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="##777"/><text x="50%" y="50%" fill="##777" dy=".3em">140x140</text></svg>
				<h2>Privacy</h2>
					<p><strong>This is a work in progress</strong>
					<p>We hope to have something we can open up for people to track their family or friend's temperatures to watch for anomalies and keep everyone informed of trends.</p>
					<p><a class="btn btn-secondary" href="##" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->


	<!-- START THE FEATURETTES -->
	<!-- /END THE FEATURETTES -->
</cfoutput>
